<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>LoginControleur</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.LoginControleur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginControleur</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>registration</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.EnregistrementControleur</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MagasinControleur</display-name>
		<servlet-name>MagasinControleur</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.MagasinControleur</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ObjetControleur</display-name>
		<servlet-name>ObjetControleur</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.ObjetControleur</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReservationControleur</display-name>
		<servlet-name>ReservationControleur</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.ReservationControleur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MagasinControleur</servlet-name>
		<url-pattern>/magasin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ObjetControleur</servlet-name>
		<url-pattern>/objet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservationControleur</servlet-name>
		<url-pattern>/reservation</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>ListeClient</display-name>
		<servlet-name>ListeClient</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.ListeClientControleur</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClientControleur</display-name>
		<servlet-name>ClientControleur</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.ClientControleur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListeClient</servlet-name>
		<url-pattern>/ListeClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientControleur</servlet-name>
		<url-pattern>/ClientControleur</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>gestionPl</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.ParametresControleur</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminControleur</display-name>
		<servlet-name>AdminControleur</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.AdminControleur</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContratControleur</display-name>
		<servlet-name>ContratControleur</servlet-name>
		<servlet-class>fr.dauphine.miageif.controleur.ContratControleur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gestionPl</servlet-name>
		<url-pattern>/compteAdminListePl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminControleur</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContratControleur</servlet-name>
		<url-pattern>/ContratControleur</url-pattern>
	</servlet-mapping>
</web-app>